In [1]:
import pandas as pd
import numpy as np

In [8]:
names = ["Gemeentecode", "GemeentecodeGM",	"Gemeentenaam",	"Provinciecode", "ProvinciecodePV",	"Provincienaam"]
gemeente_codes = pd.read_csv("./data/gemeente_codes.csv", names=names) # read csv file, specified encoding
gemeente_codes

,Gemeentecode,GemeentecodeGM,Gemeentenaam,Provinciecode,ProvinciecodePV,Provincienaam
0,Gemeentecode,GemeentecodeGM,Gemeentenaam,Provinciecode,ProvinciecodePV,Provincienaam
1,1680,GM1680,Aa en Hunze,22,PV22,Drenthe
2,0358,GM0358,Aalsmeer,27,PV27,Noord-Holland
3,0197,GM0197,Aalten,25,PV25,Gelderland
4,0059,GM0059,Achtkarspelen,21,PV21,Fryslân
...,...,...,...,...,...,...
338,0879,GM0879,Zundert,30,PV30,Noord-Brabant
339,0301,GM0301,Zutphen,25,PV25,Gelderland
340,1896,GM1896,Zwartewaterland,23,PV23,Overijssel
341,0642,GM0642,Zwijndrecht,28,PV28,Zuid-Holland
342,0193,GM0193,Zwolle,23,PV23,Overijssel

In [7]:
names = ["ID", "Woningkenmerken", "RegioS", "Perioden", "GemiddeldAardgasverbruik_1", "GemiddeldElektriciteitsverbruik_2", "Stadsverwarming_3"]
gemeente_verbruik = pd.read_csv("./data/verbruik_per_gemeente.csv", names=names, sep=';') # read csv file, specified encoding
gemeente_verbruik

,ID,Woningkenmerken,RegioS,Perioden,GemiddeldAardgasverbruik_1,GemiddeldElektriciteitsverbruik_2,Stadsverwarming_3
0,ID,Woningkenmerken,RegioS,Perioden,GemiddeldAardgasverbruik_1,GemiddeldElektriciteitsverbruik_2,Stadsverwarming_3
1,216,T001100,GM1680,2010JJ00,2700,3700,.
2,217,T001100,GM1680,2011JJ00,2100,3700,.
3,218,T001100,GM1680,2012JJ00,2300,3650,.
4,219,T001100,GM1680,2013JJ00,2400,3600,.
...,...,...,...,...,...,...,...
44060,51667,1014850,GM1979,2017JJ00,NaN,NaN,NaN
44061,51668,1014850,GM1979,2018JJ00,NaN,NaN,NaN
44062,51669,1014850,GM1979,2019JJ00,NaN,NaN,NaN
44063,51670,1014850,GM1979,2020JJ00,NaN,NaN,NaN
44064,51671,1014850,GM1979,2021JJ00,1320,2220,.